<html>
	<head>
		<title>LegalNLP - Input</title>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
    <body>
    <div class="container">
  	<h2>Upload</h2>
  	<p>Please upload the document here:</p>
  	<form action = "/upload/" method = "POST" enctype = "multipart/form-data">
    	<div>
      		<label for="usr">File</label>
      		<input type="file" name="file" id="file" />
    	</div><br>
    	<button type="button" class="btn btn-success">Submit</button>
  	</form>
	</div>
    </body>
</html> 

	